/* ================================= 
  Element Styles
==================================== */

*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: white;
  background: rgb(32,35,46);
  padding-top: 145px;
  padding-bottom: 3em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  -webkit-appearance: none;
  font-size: 1.12em;
  height: 40px;
  padding: 1.1em;
  padding-left: 0.5em;
  background: rgba(55,57,68,.5);
  border: none;
  outline: 0;
  border-bottom: 1px solid #e4e4e4;
  transition: border-color .4s;
  color: white;
}

input:focus {
  -webkit-appearance: none;
  border-color: wheat;
}

button {
  -webkit-appearance: none;
  width: 45px;
  height: 40px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
  color:white;
}


.loading {
  font-size: 1.5rem;
  font-weight: 500;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026";
  width: 0px;
  font-size: 3rem;
}

@keyframes ellipsis {
  to {
    width: 1em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;    
  }
}
/* ================================= 
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.search-form input:only-of-type {
  -webkit-appearance: none;
  width: 100%;
  margin-right: -40px;
  padding-right: 45px;
}

.search-button {
  -webkit-appearance: none;
  float: right;
  margin-right: -10px;
}

.icn-search {
  -webkit-appearance: none;
  font-weight: 700;
}

.icon-gif {
  -webkit-appearance: none;
  font-size: 6em;
  margin-bottom: 0;
  color: #7bcbc4;
  display: block;
}

.no-gifs  {
  color: #7bcbc4;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.gif-list a {
  display: block;
  margin: auto;
}

.gif-wrap {
  background-color: rgb(32,35,46);
  margin-bottom: .8em;
  position: relative;
}

.gif-wrap img {
  min-width: 100%;
}

/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(32,35,46);
  min-height: 80px;
  z-index: 1000;
  border-bottom: 2px solid black;
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .gif-list li {
    text-align: center;
    margin: 10px 0 0;
    font-size: 0;
  }
  .gif-wrap img {
    width: 100%;
  }

  .search-form{
    -webkit-appearance: none;
    margin-bottom: 0.5em;
  }
  input{
    font-size: 1em;
    height: 34px;
  }
  .main-title {
    font-size: 1.4em;
    line-height: 50px;
    text-align:  center;
  }
}

@media (min-width: 550px) {
  .gif-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .gif-wrap img {
    height: 235px;
  }
  .gif-list .no-gifs {
    float: none;
    width: 100%;
  }
  .gif-wrap {
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }

  .search-form{
    -webkit-appearance: none;
    margin-bottom: 0.5em;
  }
 
}

@media (min-width: 769px) {
  body {
    padding-top: 115px;
  }
  .main-title {
    float: left;
  }
  .search-form {
   -webkit-appearance: none;
    width: 422px;
    float: right;
    margin-top: 18px;
  }
  .gif-list li {
    width: 33.333333333%;
  }

}

@media (min-width: 769px) { 
  .gif-list li:nth-of-type(3n+1) {
    clear: left;
  }
}